<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kodum</title>
<link rel="icon" type="image" href="public/data_array_white_24dp.svg" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

<header>
   
    <a href="/" id="logo">Kodum</a>

   
    <div class="header-right-group-buttons">
        <button class="write-btn"> 
            <span    class="material-symbols-outlined">
            edit_square</span>Write
        </button>

        <span id="notifications">
            <span class="material-symbols-outlined">
            circle_notifications
            </span>
        </span>

        <div id="user">
            <img src="public/user.jpeg" alt="User Photo" id="user-photo">
            <span id="user-name">Sofia Creator</span>
        </div>
    </div>

</header>

<main>
    <form action="/save_post" method="post">
        <input type="text" name="title" id="title" placeholder="Add title"><br>
        <textarea name="full-text" id="full-text"  placeholder="Add text"></textarea>
        <button class="publish-btn">Publish</button>
    </form>    
  
</main>

  <footer>
      <p>&copy; 2023 Your Website Name. All rights reserved.</p>
  </footer>

</body>
</html>