{{define "create"}}

{{template "header"}}
<div class="header-right-group-buttons">
    <a class="write-btn" href="http://localhost:8080/create/"> 
        <span    class="material-symbols-outlined">
        edit_square</span>Write
    </a>
    <div id="user">
        <img src="/public/src/user.jpg" alt="User Photo" id="user-photo">
        <span id="user-name">{{.NameUser}}</span>
    </div>

  
        <a href="/logout">
            <span id="notifications">
                <span class="material-symbols-outlined">
                    logout
                </span>
            </span>
        </a>
   
</div>

</header>
{{if . }}
        {{.Message}}
{{end}}

<main>
    
    <form action="/save_post/" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="title" id="title" placeholder="Add title" required><br>
        <textarea name="full-text" id="full-text"  placeholder="Add text" required></textarea>

        <label for="topic">Choose a topic:</label>

        <select name="topic" id="topic" required>
            {{range .Topics}}
                <option value="{{.ID}}">{{.Name}}</option>
            {{end}}
        </select>
    
        <button type="submit" class="publish-btn">Publish</button>
    </form>
</main>

{{template "footer"}}

{{end}}
