{{define "login-form"}}

<div class="modal-target-login" id="modal-target-login">
    <div class="cmt">
    
        <form id="loginForm" name="loginForm" action="/login" method="post" class="mt-4">
            <h3>Welcome back</h3>
            <input type="login" id="login-inp" name="login-inp" placeholder="Your login" autocomplete="on" required>
            <input type="password" id="password-inp" name="password-inp" placeholder="Your password" autocomplete="on" required>
            <button type="submit" name="submit-btn">Log in</button>
            <p>Don't have an account?<a class="get-started-btn" href="#modal-target-signup" id="login-form-btn"></span>Create one</a>
            </p>
        </form>
        {{if . }}
        <div>
            {{.Message}}
        </div>
        {{end}}
   </div>
    <a href="#close" class="modal-close"></a>    
</div>

{{end}}