{{define "post"}}

{{template "header"}}

  <main class="post-page">

    <div class="main-post">
            
      <div class="author-info">
          <img src="/public/src/user.jpg" alt="User Photo" class="author-photo">
          <div>
            <span class="author-name">{{.Post.Author}}</span>
            <p class="post-date">Posted on: {{.Post.PostDate}}</p>
          </div>
        </div>
      
       <h2 class="post-title">{{.Post.Title}}</h2>
  
      <p class="post-text">{{.Post.FullText}}</p>
      
      <div class="post-nav">
        <button class="topic">HTML</button>
    
        <span class="icon">
            <a href="/like_post/{{.Post.Slug}}" class="material-symbols-outlined">
                favorite
            </a>
            <span id="like-count-{{.Post.Slug}}">{{.Post.LikeCount}}</span>
    
            <a href="/dislike_post/{{.Post.Slug}}" class="material-symbols-outlined">
                sentiment_dissatisfied
            </a>
            <span id="dislike-count-{{.Post.Slug}}">{{.Post.DislikeCount}}</span>
        </span>
    </div>
    
    </div>

    <div class="comment-add">
      <form action="/save_comment/{{.Post.Slug}}" method="post" enctype="application/x-www-form-urlencoded">
        <textarea name="add-text-comment" id="add-text-comment" placeholder="Write a comment..." required></textarea>
        <button type="submit" class="publish-btn">Send</button>
    </form>
    </div>
  </main>

  <section class="comment-list">
    <h3>Comments {{len .Comments}}</h3>
    {{range .Comments}}

      {{template "comment".}}
      
    {{end}}
  </section>

{{template "footer"}}

{{end}}