{{define "start-page"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kodum</title>
  <link rel="icon" type="image" href="/public/data_array_white_24dp.svg" />
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="start-page">

  <header>
   
    <a href="/" id="logo">Kodum</a>

   
    <div class="header-right-group-buttons">

        <div id="login">

          <a class="sign-in-btn" href="#modal-target">
            <span id="login-btn">Sign in</span>
          </a>
          
          <a class="get-started-btn" href="#"> 
            <span id="login-btn">Get started</span>
          </a>
          
        </div>

    </div>

</header>

{{template "login-form"}}
 <main class="start-page">
        <span>
          <h1>Explore</h1>
          <h3>Dive into a world of diverse perspectives and insights shared by passionate forum members across a wide range of subjects.</h3>
        </span>
          <h1>the Unknown</h1>
  </main>

  {{template "footer"}}

  {{end}}