{{define "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kodum</title>
  <link rel="icon" type="image" href="/public/data_array_white_24dp.svg" />
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

<header>
   
    <a href="/" id="logo">Kodum</a>
    <form action="/logout" method="post">
        <button type="submit">Log Out</button>
    </form>
     
    <div class="header-right-group-buttons">
        <a class="write-btn" href="http://localhost:8080/create/"> 
            <span    class="material-symbols-outlined">
            edit_square</span>Write
        </a>

        <span id="notifications">
            <span class="material-symbols-outlined">
            circle_notifications
            </span>
        </span>

        <div id="user">
            <img src="/public/user.jpeg" alt="User Photo" id="user-photo">
            <span id="user-name">{{.Author}}</span>
        </div>
    </div>

  </header>

{{end}}